<navbar></navbar>
<sidebar></sidebar>


<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">PONTO DE VENDA</h3>

    </div>
    <!-- Formulário -->

    <div class="modern-form">

      <!-- Vendor and terminal details -->
      <div class="pdv-container">
        <!-- Vendor and terminal details -->
        <div class="details">
           <!-- Client details -->
           <label for="vendor">Cliente:</label>
           <input type="text" id="vendor" name="vendor" placeholder="Welligton">

           <label for="code">Código:</label>
           <input type="text" id="code" name="code" [(ngModel)]="productCode" placeholder="Adicione Código do produto">
           <br><br>
           <button (click)="searchProduct()">Buscar</button>
            <br>
            <br>
            <br>


            <label for="description">Descrição:</label>
            <input disabled type="text" id="description" name="description" [(ngModel)]="product.description"  >
            <label for="value">Valor:</label>
            <input disabled type="text" id="value" name="value" [(ngModel)]="product.price"  >
            <label for="unit">Unidade do Produto:</label>
            <input disabled type="text" id="unit" name="unit" [(ngModel)]="product.unit"  >


            <label for="quantity">Quantidade:</label>
            <input type="text" id="quantity" name="quantity" [(ngModel)]="product.quantity" placeholder="Adicione a quantidade">
            <br>
            <br>
            <button (click)="addItem()">Adicionar Item</button>
            <br>
            <br>
        </div>

        <!-- Image Display -->
        <div class="image-container">
          <img [src]="product.image" width="400px" height="400px" alt="Product Image" class="product-image">
      </div>
      </div>

      <!-- Product details -->
      <table class="fiscal-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Código</th>
            <th>Produto</th>
            <th>Unidade</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Preço Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency:'BRL' }}</td>
            <td>{{ item.price * item.quantity | currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>




    <div>
      <label for="subtotal">Subtotal:</label>
      <span style="color: black;" id="subtotal">{{ subtotal | currency:'BRL':'symbol':'1.2-2' }}</span>
  </div>

      <div>
          <label for="date_time">Data/Hora:</label>
          <input type="datetime-local" id="date_time" name="date_time">
      </div>

      <!-- Action buttons -->
      <div>
          <button type="submit">Consultar Produto</button>
          <button type="reset" (click)="addFecharVenda()">Fechar Venda</button>
          <button type="button">Cancelar Venda</button>
      </div>

  </div>



  </div>
</div>
