.modern-form {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 850px;
  margin: 40px auto;

  div, table {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #555;
  }

  input[type="text"], input[type="number"], input[type="datetime-local"], textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    transition: box-shadow 0.3s, border-color 0.3s;

    &:hover, &:focus {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-color: #aaa;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    th, td {
      border: 1px solid #e0e0e0;
      padding: 12px 15px;
      text-align: left;
    }

    th {
      background-color: #f8f8f8;
      color: #555;
    }
  }

  button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  button {
    background-color: #4CAF50;

    &:hover {
      background-color: #45a049;
    }
  }

  button[type="reset"] {
    background-color: #ff9800;

    &:hover {
      background-color: #e68a00;
    }
  }

  button[type="button"] {
    background-color: #f44336;

    &:hover {
      background-color: #d32f2f;
    }
  }

}
