<navbar></navbar>
<sidebar></sidebar>


<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">PONTO DE VENDA EM FUNCIONAMENTO</h3>

    </div>
    <!-- Formulário -->

    <div class="container">
      <div class="row align-items-start">
        <div class="col-8">

          <div class="input-group mb-3">
            <button class="btn btn-outline-success" type="button" id="button-addon1" (click)="searchProduct()">Buscar Produto</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="productCode" placeholder="Adicione Código do produto">
          </div>




           <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Código</th>
                <th>Produto</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Preço Total</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row" *ngFor="let item of productsList; let i = index">
                <td colspan="2" class="table-active" >{{ i + 1 }}</td>
                <td colspan="2" class="table-active">{{ item.code }}</td>
                <td colspan="2" class="table-active">{{ item.description }}</td>
                <td colspan="2" class="table-active">{{ item.unit }}</td>
                <td colspan="2" class="table-active">{{ item.quantity }}</td>
                <td colspan="2" class="table-active">{{ item.price | currency:'BRL' }}</td>
                <td colspan="2" class="table-active">{{ item.price * item.quantity | currency:'BRL' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-4">
          <div class="card" style="width: 22.8rem;">
            <div class="card-body">
              <h5 class="card-title">Subtotal:</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="color: black;" id="subtotal" >{{ subtotal | currency:'BRL':'symbol':'1.2-2' }}</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descrição</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled  id="description" name="description" [(ngModel)]="product.description">
                  </div>

                </li>
                <li class="list-group-item">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Valor</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled  id="value" name="value" [(ngModel)]="product.price" >
                  </div>
                </li>
                <li class="list-group-item">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Quantidade</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  id="quantity" name="quantity" [(ngModel)]="product.quantity" placeholder="Adicione a quantidade">
                    </div>
                </li>
                <li class="list-group-item">
                  <div class="input-group mb-3">
                    <button type="button" class="btn btn-outline-primary" (click)="addItem()">Adicionar Item</button>
                  </div>
                  <div class="input-group mb-3">
                    <button type="button" class="btn btn-success" (click)="addFecharVenda()">Fechar Venda</button>
                  </div>
                </li>

              </ul>

            </div>
          </div>





        </div>
      </div>

    </div>




  </div>
</div>


<!--
           <label for="vendor">Cliente:</label>
           <input type="text" id="vendor" name="vendor" placeholder="Welligton">

           <label for="code">Código:</label>
           <input type="text" id="code" name="code" [(ngModel)]="productCode" placeholder="Adicione Código do produto">
           <br><br>
           <button (click)="searchProduct()">Buscar</button>
            <br>
            <br>
            <br>


            <label for="description">Descrição:</label>
            <input disabled type="text" id="description" name="description" [(ngModel)]="product.description"  >
            <label for="value">Valor:</label>
            <input disabled type="text" id="value" name="value" [(ngModel)]="product.price"  >
            <label for="unit">Unidade do Produto:</label>
            <input disabled type="text" id="unit" name="unit" [(ngModel)]="product.unit"  >


            <label for="quantity">Quantidade:</label>
            <input type="text" id="quantity" name="quantity" [(ngModel)]="product.quantity" placeholder="Adicione a quantidade">
            <br>
            <br>
            <button (click)="addItem()">Adicionar Item</button>
            <br>
            <br>
        </div>

        <div class="image-container">
          <img [src]="product.image" width="400px" height="400px" alt="Product Image" class="product-image">
      </div>
      </div>

      <table class="fiscal-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Código</th>
            <th>Produto</th>
            <th>Unidade</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Preço Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency:'BRL' }}</td>
            <td>{{ item.price * item.quantity | currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>




    <div>
      <label for="subtotal">Subtotal:</label>
      <span style="color: black;" id="subtotal">{{ subtotal | currency:'BRL':'symbol':'1.2-2' }}</span>
  </div>

      <div>
          <label for="date_time">Data/Hora:</label>
          <input type="datetime-local" id="date_time" name="date_time">
      </div>

      <div>
          <button type="submit">Consultar Produto</button>
          <button type="reset" (click)="addFecharVenda()">Fechar Venda</button>
          <button type="button">Cancelar Venda</button>
      </div>

  </div>

-->
