
<div fxLayout="column" fxLayout.gt-sm="row" class="mat-elevation-z8 responsive-table-container">
  <table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="idUnspsc">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idUnspsc}} </td>
    </ng-container>

    <!-- UNSPSC Code Column -->
    <ng-container matColumnDef="codigoSfcm">
      <th mat-header-cell *matHeaderCellDef> No. UNSPSC </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoSfcm}} </td>
    </ng-container>

    <!-- Segment Column -->
    <ng-container matColumnDef="descricaoSegmento">
      <th mat-header-cell *matHeaderCellDef> Segmento </th>
      <td mat-cell *matCellDef="let element"> {{element.descricaoSegmento}} </td>
    </ng-container>

    <!-- Family Column -->
    <ng-container matColumnDef="descricaoFamilia">
      <th mat-header-cell *matHeaderCellDef> Família </th>
      <td mat-cell *matCellDef="let element"> {{element.descricaoFamilia}} </td>
    </ng-container>

    <!-- Class Column -->
    <ng-container matColumnDef="descricaoClasse">
      <th mat-header-cell *matHeaderCellDef> Classe </th>
      <td mat-cell *matCellDef="let element"> {{element.descricaoClasse}} </td>
    </ng-container>

    <!-- Commodity Column -->
    <ng-container matColumnDef="descricaoMercadoria">
      <th mat-header-cell *matHeaderCellDef> Mercadoria </th>
      <td mat-cell *matCellDef="let element"> {{element.descricaoMercadoria}} </td>
    </ng-container>


      <!-- Edit Action Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="viewProductsByUnspsc(element.idUnspsc)" color="warn">Ver Produtos</button>
      </td>
    </ng-container>


    <ng-container matColumnDef="produto">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="viewProductsByUnspsc(element.idUnspsc)" color="primary">Adicionar Produto</button>
      </td>
    </ng-container>


     <!-- Delete Action Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="action-icon" (click)="deleteUnspsc(element.idUnspsc)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>


<!-- <div class="table-responsive">
  <table class="table-erp">
    <thead>
      <tr>
        <th>ID UNSPSC</th>
        <th>UNSPSC_CODE</th>
        <th>SEGMENTO</th>
        <th>FAMILIA</th>
        <th>CLASSE</th>
        <th>MERCADORIA</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of unspscList.slice().reverse()">
        <td>{{ item.idUnspsc }}</td>
        <td>{{ item.codigoSfcm }}</td>
        <td>{{ item.segmento.descricao }}</td>
        <td>{{ item.familia.descricao }}</td>
        <td>{{ item.classe.descricao }}</td>
        <td>{{ item.mercadoria.descricao }}</td>
        <td>
          <button (click)="editUnspsc(item)">Editar</button>
          <button (click)="deleteUnspsc(item.idUnspsc)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
