
<div class="container">
  <h3 class="text-center my-4">SELECIONE A OPÇÃO DE PAGAMENTO</h3>

  <!-- Botões de Opção de Pagamento -->
  <div class="d-flex justify-content-center my-3">
    <div class="mb-3">
      <button class="btn btn-primary mx-2" (click)="showPaymentCard()">Link de Pagamento</button>
    </div>
    <div class="mb-3">
      <button class="btn btn-secondary mx-2" (click)="processCashPayment()">Dinheiro</button>
    </div>


  </div>

  <!-- Formulário de Pagamento com Link -->
  <form [formGroup]="paymentForm" (ngSubmit)="submitPaymentForm()" *ngIf="isPaymentCardVisible">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Link de Pagamento</h4>
        <!-- Campos do Formulário -->
        <!-- Exemplo de Campo -->
        <div class="mb-3">
          <label for="paymentName" class="form-label">Nome do link de pagamentos:</label>
          <input type="text" class="form-control" id="paymentName" formControlName="paymentName">
        </div>
        <!-- Outros Campos -->
          <!--LINK DE PAGAMENTO-->
        <div class="mb-3">
          <label for="paymentDescription" class="form-label">Descrição do link de pagamento:</label>
          <input type="text"  class="form-control" id="paymentDescription" formControlName="paymentDescription">
        </div>

         <!---->
        <div class="mb-3">
          <label for="paymentMethod" class="form-label">Forma de pagamento permitida:</label>
          <select id="paymentMethod" class="form-control" formControlName="paymentMethod" >
              <option value="PIX">PIX</option>
              <option value="Boleto">Boleto</option>
              <option value="Cartão de Crédito">Cartão de Crédito</option>
          </select>
        </div>
        <!--DATA DO PAGAMENTO-->
        <div class="mb-3">
          <label for="paymentDate" class="form-label">Data do Pagamento:</label>
          <input type="datetime-local" class="form-control" id="paymentDate" formControlName="dataPagamento" value="2023-10-26T20:24:52">
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">id da Venda</label>
          <input readOnly class="form-control" type="number" id="idVenda" formControlName="idVenda">
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">Data Limite do Link:</label>
          <input type="date"  class="form-control" id="expiryDate" formControlName="expiryDate">
        </div>
      </div>



      <div class="card-footer text-center">
        <button type="submit" class="btn btn-success">FINALIZAR PAGAMENTO</button>
      </div>
    </div>
  </form>

  <!-- Formulário de Pagamento em Dinheiro -->
  <form [formGroup]="cashPaymentForm" (ngSubmit)="submitCashPaymentForm()" *ngIf="isCashPaymentCardVisible">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pagamento em Dinheiro</h4>

        <div class="mb-3">
          <label for="paymentDate">Data do Pagamento:</label>
          <input type="datetime-local" id="paymentDate" formControlName="dataPagamento" value="2023-10-26T20:24:52">
        </div>

        <div class="mb-3">
          <label for="totalCashValue">Valor Total:</label>
          <input type="number" id="totalCashValue" formControlName="total" [value]="0">
        </div>

        <div class="submit-button">
          <button type="submit" class="btn btn-success">FINALIZAR PAGAMENTO</button>
        </div>
      </div>

    </div>
  </form>
</div>


