<div class="table-responsive">
  <table class="table-erp">
    <thead>
      <tr>
        <th>ID UNSPSC</th>
        <th>UNSPSC_CODE</th>
        <th>SEGMENTO</th>
        <th>FAMILIA</th>
        <th>CLASSE</th>
        <th>MERCADORIA</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of unspscList">
        <td>{{ item.idUnspsc }}</td>
        <td>{{ item.codigoSfcm }}</td>
        <td>{{ item.segmento.descricao }}</td>
        <td>{{ item.familia.descricao }}</td>
        <td>{{ item.classe.descricao }}</td>
        <td>{{ item.mercadoria.descricao }}</td>
        <td>
          <button (click)="editUnspsc(item)">Editar</button>
          <button (click)="deleteUnspsc(item.idUnspsc)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
