/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";



.container-base {
  padding: 88px 16px 0px 128px;
  display: flex; /* Para centralizar o conteúdo da página */
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  min-height: 100vh; /* Garante que o container preencha a tela */

  .content-page {
    background: white;
    padding: 32px; /* Aumentado para mais espaço */
    border-radius: 10px;
    min-height: 800px;
    width: 80%; /* Ajustado para ser mais responsivo */
    max-width: 1200px; /* Ajustado para ser mais responsivo */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2); /* Sombra suavizada */
    margin-left: 70px;

    .card-header {
      z-index: 3 !important;
      padding: 20px; /* Aumentado para mais espaço */
      background-color: #212946;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #212946;
      border-radius: 8px;
      margin-bottom: 16px;
      color: #fff; /* Para melhorar a visibilidade do texto contra o fundo colorido */

      .card-title {
        font-size: 20px; /* Aumentado para mais destaque */
        font-weight: 600; /* Aumentado para mais destaque */
        text-align: center; /* Alinha o texto ao centro */
      }

      .card-description {
        color: #ffffff;
        margin: 16px 0;
        text-align: center; /* Alinha o texto ao centro */
      }

      .card-links {
        list-style: none;
        padding-left: 0;
        text-align: center; /* Alinha os links ao centro */
      }

      .card-link {
        color: #af4c4c;
        text-decoration: none;
        margin: 5px 0; /* Adiciona um pequeno espaço entre os links */
        display: inline-block; /* Permite o uso de padding */
        padding: 5px 0; /* Adiciona um pequeno padding para aumentar a área clicável */
      }

      .card-link:hover {
        text-decoration: underline;
        color: #fff; /* Muda a cor quando o link é passado com o mouse */
      }
    }
  }
}

/* Add modern styles for Breadcrumbs */
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #26a69a;
    }
  }

  .separator {
    margin: 0 8px;
    color: #777;
  }
}
/* Adicionando estilos ao formulário */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  label {
    margin-bottom: 5px;
    color: #000; /* Alterando a cor das labels para preto */
  }

  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    &:focus {
      outline: none;
      box-shadow: 0 0 3px #007bff;
    }
  }

  /* Estilo específico para o campo de data */
  input[type="date"] {
    /* Adicionando estilos para melhorar a aparência em navegadores com suporte limitado */
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    &:focus {
      outline: none;
      box-shadow: 0 0 3px #007bff;
    }
  }

  /* Estilo específico para o botão */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }

  /* Estilos responsivos */
  @media screen and (max-width: 600px) {
    /* Ajuste a largura do formulário para telas menores */
    width: 90%;
  }

  @media screen and (max-width: 400px) {
    /* Ajuste o tamanho das fontes para telas ainda menores */
    label,
    input,
    textarea,
    button {
      font-size: 10px;
    }
  }
}
//


//tabelas
// Definindo variáveis para cores e outros valores
$table-bg: #f5f7fa;
$table-border: #e1e4e8;
$table-header-bg: #2c3e50;
$table-header-color: #ecf0f1;
$row-hover-bg: #e9ecef;

// Definindo o estilo principal da tabela com a classe .table-erp
// Definindo variáveis para cores e outros valores

$table-bg: #ffffff;  // Fundo branco
$table-border: #e1e4e8;
$table-header-bg: #2c3e50;
$table-header-color: #ecf0f1;
$row-hover-bg: #e9ecef;
$text-color: #000000; // Texto preto
.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; // Garante uma rolagem suave em dispositivos touch no iOS

  // Estilização para a barra de rolagem
  &::-webkit-scrollbar {
    width: 8px;  // Largura para barra de rolagem vertical
    height: 15px; // Altura para barra de rolagem horizontal
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .table-erp {
    width: 100%;
    border-collapse: collapse;
    color: #000;

    th, td {
      padding: 8px 12px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    @media (max-width: 768px) {

      th{
        font-size: 12px; // Reduzindo o tamanho da fonte para telas menores
        padding: 3px;
        margin: 0px;
        justify-content: center;
      }
      td {
        font-size:11px; // Reduzindo o tamanho da fonte para telas menores
        padding: 3px;
        margin: 0px;
        justify-items: center;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}


//paginação
.container-base {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-page {
    width: 80%; // Este é apenas um exemplo. Ajuste conforme necessário.

    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .pagination-btn {
        background-color: #007BFF;
        color: #FFF;
        border: none;
        padding: 12px 24px;
        margin: 0 8px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;

        &:hover {
          background-color: #0056b3;
        }

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }


  //ANGULAR MATERIAL STYLE GLOBAL
  .modern-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;

    .full-width-input {
        width: 100%;
        margin-bottom: 1.5rem;

        // Increase the font size in the input for better readability
        input {
            font-size: 18px;
        }

        // This is for the label of mat-form-field
        mat-label {
            font-size: 18px;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        button {
            // Increase padding for larger button
            padding: 10px 30px;

            // Custom color for the button
            background-color: #009688;  // This is teal, replace with any color you like
            color: white; // Text color

            // Change font size for the button
            font-size: 18px;

            // Hover effect
            &:hover {
                background-color: darken(#009688, 10%); // Darken the teal a bit on hover
            }
        }
    }
}



  //ANGULAR MATERIAL STYLE GLOBAL
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
