<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8  col-md-4">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header   text-black text-center">
          <h1 class="card-title"><strong>Portal Solution Santos</strong> </h1>
        </div>
        <div class="card-body  justify-content-center">
          <p class="text-muted">Digite seu email e senha para se logar!</p>

          <form  class="example-form" [formGroup]="loginForm" >
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Entre com seu Email</mat-label>
                <input matInput
                       class="form-control"
                       type="email"
                       id="email"
                       placeholder="E-mail"
                       formControlName="email"
                       required>
                <mat-error *ngIf="email.invalid">
                  {{ getErrorMessage() }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Entre com sua Senha</mat-label>
                <input matInput
                       [type]="hide ? 'password' : 'text'"
                       class="form-control"
                       formControlName="senha"
                       required>
                <button mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>

            <div class="d-grid gap-2">
              <button type="type" class="btn btn-success" (click)="loginUser()">Entrar</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="isLoading" class="text-center mt-3">
        <div class="spinner-border text-primary" role="status"></div>
      </div>

      <div *ngIf="showAlert" class="alert alert-{{alertType}} mt-3" role="alert">
        {{alertMessage}}
      </div>
    </div>
  </div>
</div>
