
<div class="mat-elevation-z8 demo-table">

  <table mat-table [dataSource]="productList.slice().reverse()" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="idProduto">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idProduto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome Produto </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="precoCompra">
      <th mat-header-cell *matHeaderCellDef> Preço de Compra  </th>
      <td mat-cell *matCellDef="let element"> {{element.precoCompra}} </td>
    </ng-container>

    <ng-container matColumnDef="precoVenda">
      <th mat-header-cell *matHeaderCellDef> Preço de Venda  </th>
      <td mat-cell *matCellDef="let element"> {{element.precoVenda}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status  </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

   <ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Ações </th>
  <td mat-cell *matCellDef="let product">
    <!-- Botão Editar -->
    <button type="button" class="btn edit" (click)="editProduct(product)">
      <mat-icon>edit</mat-icon>
    </button>

    <!-- Botão Visualizar -->
    <button type="button" class="btn view" (click)="viewProduct(product.idProduto)">
      <mat-icon>visibility</mat-icon>
    </button>

    <!-- Botão Excluir -->
    <button type="button" class="btn delete" (click)="deleteProduct(product.idProduto)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



