
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"  >
  <mat-toolbar color="primary" class="example-toolbar"  >
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Portal Solution Santos</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                         [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
              <mat-nav-list>
                <mat-list-item>
                  <button mat-button class="button-block" routerLink="/dashboard">Dashboard</button>
                </mat-list-item>
                <mat-list-item>
                  <button mat-button class="button-block" routerLink="/admin">Inventário</button>
                </mat-list-item>
              </mat-nav-list>
            </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <mat-drawer-container class="example-container" autosize>

  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content> <router-outlet></router-outlet></mat-drawer-content>

  <div class="example-sidenav-content">
    <button type="button" mat-button >
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->




