<navbar></navbar>
<sidebar></sidebar>


<div class="container-base"  [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <a href="/secretaria">Mural</a>
      <span class="separator">»</span>
      Página Atual
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Cadastro de UNSPSC</h3>

    </div>
    <!-- Formulário -->
    <form [formGroup]="createUnspscForm" (ngSubmit)="submitForm()">

      <label>Segmento</label>
    <ng-select class="select-padrao"
              formControlName="segmento"
              [items]="segmentos"
              bindLabel="descricao"
              [multiple]="false"
              [clearable]="true"
              (change)="onValueChange()"
              >
    </ng-select>

      <label>Família</label>
      <ng-select class="select-padrao"
      formControlName="familia"
      [items]="familias"
      bindLabel="descricao"
      [multiple]="false"
      [clearable]="false"
      [clearable]="true"
      (change)="onValueChange()"
      ></ng-select>
      <br>

      <label>Classe</label>
      <ng-select class="select-padrao"
      formControlName="classe"
      [items]="classes"
      bindLabel="descricao"
      [multiple]="false"
      [clearable]="false"
      [clearable]="true"
      (change)="onValueChange()"
      ></ng-select>
      <br>

      <label>Mercadoria</label>
      <ng-select class="select-padrao"
      formControlName="mercadoria"
      [items]="mercadorias"
      bindLabel="descricao"
      [multiple]="false"
      [clearable]="false"
      [clearable]="true"
      (change)="onValueChange()"
      ></ng-select>
      <br>
      <label>Code UNSPSC</label>
      <input type="text" [value]="unspscCode" readonly />



      <button type="submit">Enviar</button>

    </form>


  </div>
</div>
