<div class="container mt-5">

  <button type="button" class="btn btn-primary mb-5" routerLink="/admin/list-unspsc">Voltar</button>


  <div class="row mb-5">
    <!-- Column for the mat-card -->
    <div class="col-md-8">
        <mat-card class="mb-5">
            <mat-card-content>
                <app-tree-view-unspsc></app-tree-view-unspsc>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Column for the buttons aligned vertically -->
    <div class="col-md-4">
        <div class="button-group-vertical d-flex flex-column">
            <button mat-raised-button color="primary" class="mb-2">Painel de Segmento</button>
            <button mat-raised-button color="primary" class="mb-2">Painel de Família</button>
            <button mat-raised-button color="primary" class="mb-2">Painel de Classe</button>
            <button mat-raised-button color="primary" class="mb-2">Painel de Produto</button>
        </div>
    </div>
</div>



  <h1>Cadastro UNSPSC de Produtos e Serviços</h1>
  <mat-stepper orientation="vertical"  #stepper>
    <mat-step [stepControl]="segmentoFormGroup">
      <form [formGroup]="segmentoFormGroup">
        <ng-template matStepLabel>Segmento</ng-template>
        <mat-form-field style="width: 100%;">
          <mat-label>Segmento</mat-label>
          <!-- <input matInput placeholder="Entre com Segmento do produto ou serviço" formControlName="segmentoCtrl" required> -->
          <mat-select formControlName="segmentoCtrl" required placeholder="Entre com Segmento do produto ou serviço">
            <mat-option *ngFor="let item of segmentos" [value]="item">{{ item.codigo+" | "+item.descricao }}</mat-option>
          </mat-select>

        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="familiaFormGroup">
      <form [formGroup]="familiaFormGroup">
        <ng-template matStepLabel>Família</ng-template>
        <mat-form-field style="width: 100%;">
          <mat-label>Família</mat-label>
          <!-- <input matInput formControlName="familiaCtrl" placeholder="Entre com Familia do produto ou serviço"
                 required> -->
           <mat-select formControlName="familiaCtrl" required placeholder="Entre com Familia do Segmento do produto ou serviço">
            <mat-option *ngFor="let item of familias" [value]="item">{{item.codigo+" | "+item.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="classeFormGroup">
      <form [formGroup]="classeFormGroup">
        <ng-template matStepLabel>Classe</ng-template>
        <mat-form-field style="width: 100%;">
          <mat-label>Classe</mat-label>
          <!-- <input matInput formControlName="classeCtrl" placeholder="Entre com Classe do produto ou serviço"
                 required> -->
          <mat-select formControlName="classeCtrl" required placeholder="Entre com Classe da Família do produto ou serviço">
            <mat-option *ngFor="let item of classes" [value]="item">{{item.codigo+" | "+item.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="mercadoriaFormGroup">
      <form [formGroup]="mercadoriaFormGroup">
        <ng-template matStepLabel>Mercadoria</ng-template>
        <mat-form-field style="width: 100%;">
          <mat-label>Mercadoria</mat-label>
          <!-- <input matInput formControlName="mercadoriaCtrl" placeholder="Entre com Mercadoria do produto ou serviço"
                 required> -->
          <mat-select formControlName="mercadoriaCtrl" required placeholder="Entre com Familia do Segmento do produto ou serviço">
            <mat-option *ngFor="let item of mercadorias" [value]="item">{{item.codigo+" | "+item.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fim</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button
        *ngIf="segmentoFormGroup.valid && familiaFormGroup.valid && classeFormGroup.valid && mercadoriaFormGroup.valid"
        (click)="finalizarCadastro()">
          Finalizar Cadastro
        </button>




      </div>
    </mat-step>
  </mat-stepper>


</div>

<!--
<div class="container mt-5">
  <div class="content-page">
    <div class="breadcrumbs">
      <a href="/admin">Inventário</a>
      <span class="separator">»</span>
      Página Atual
    </div>
    <div class="card-header">
      <h3 class="card-title">Cadastro de UNSPSC</h3>

    </div>

      <button type="button" class="btn btn-primary" (click)="openModal(1)">Add New Segmento</button>
      <button (click)="openModal(2)">Add New Família</button>
      <button (click)="openModal(3)">Add New Classe</button>
      <button (click)="openModal(4)">Add New Mercadoria</button>
      <modal-unspsc (onSubmitted)="handleSubmittedData($event)" #modalComponent></modal-unspsc>




<br>
<br>
<app-tree-view-unspsc></app-tree-view-unspsc>

    <form [formGroup]="createUnspscForm" (ngSubmit)="submitForm()">

      <label>Segmento</label>
      <ng-select class="select-padrao"
            formControlName="segmento"
            [items]="segmentos"
            bindLabel="descricao"
            [multiple]="false"
            [clearable]="true"
            (change)="onValueChange()">
          <ng-template ng-option-tmp let-item="item" let-index="index">
              <span>{{ item.codigo }} - {{ item.descricao }}</span>
              <button type="button" class="btn-delete" (click)="deleteSegmento(index, $event)">Excluir</button>
          </ng-template>
      </ng-select>

      <label>Família</label>
      <ng-select class="select-padrao"
                  formControlName="familia"
                  [items]="familias"
                  bindLabel="descricao"
                  [multiple]="false"
                  [clearable]="true"
                  (change)="onValueChange()">
          <ng-template ng-option-tmp let-item="item" let-index="index">
              <span>{{ item.codigo }} - {{ item.descricao }}</span>
              <button type="button" class="btn-delete" (click)="deleteFamilia(index, $event)">Excluir</button>
          </ng-template>
      </ng-select>
      <br>

      <label>Classe</label>
      <ng-select class="select-padrao"
                  formControlName="classe"
                  [items]="classes"
                  bindLabel="descricao"
                  [multiple]="false"
                  [clearable]="true"
                  (change)="onValueChange()">
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <span>{{ item.codigo }} - {{ item.descricao }}</span>
            <button type="button" class="btn-delete" (click)="deleteClasse(index, $event)">Excluir</button>
        </ng-template>
      </ng-select>

      <br>

      <label>Mercadoria</label>
      <ng-select class="select-padrao"
                  formControlName="mercadoria"
                  [items]="mercadorias"
                  bindLabel="descricao"
                  [multiple]="false"
                  [clearable]="true"
                  (change)="onValueChange()">
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <span>{{ item.codigo }} - {{ item.descricao }}</span>
            <button type="button" class="btn-delete" (click)="deleteMercadoria(index, $event)">Excluir</button>
        </ng-template>
      </ng-select>

      <br>
      <label>Code UNSPSC</label>
      <input type="text" [value]="unspscCode" readonly />



      <button type="submit">Enviar</button>

    </form>
<br><br><br>
    <app-list-unspsc></app-list-unspsc>
  </div>
</div>
<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add New Segment</h2>
    </div>
    <div class="modal-body">
      <form id="segmentForm">
        <label for="segmentName">Segment Name</label>
        <input type="text" id="segmentName" name="segmentName" placeholder="Segment name...">

        <label for="segmentDesc">Segment Description</label>
        <textarea id="segmentDesc" name="segmentDesc" placeholder="Segment description..."></textarea>

        <input type="submit" value="Save">
        <button type="button" class="btnCancel">Cancel</button>
      </form>
    </div>
  </div>

</div> -->
