 <div class="container mt-5">
  <h1>Ver Produto</h1>
  <form [formGroup]="createProductForm" (submit)="submitForm($event)">

    <div class="form-content-edit row">
       <!-- Preview da imagem carregada -->
       <div class="col-md-4 image-part mb-4">
        <div class="text-center image-preview" *ngIf="preview">
            <app-product [url]="preview" title="Preview"></app-product>
        </div>
    </div>




        <!-- Parte do formulário -->
        <div class="col-md-8">
          <div class="form-part">

                  <!-- Primeira linha de inputs -->
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="productName" class="form-label">Nome do Produto:</label>
                     <input type="text" id="productName" formControlName="productName" class="form-control" required>
                    </div>

                    <div class="col-md-8 mb-3">
                      <label for="productDescription" class="form-label">Descrição:</label>
                      <textarea id="productDescription" formControlName="productDescription" class="form-control" required></textarea>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="purchasePrice" class="form-label">Preço de Compra:</label>
                      <input type="number" id="purchasePrice" formControlName="purchasePrice" step="0.01" class="form-control" required>
                   </div>
                  </div>

                  <!-- Segunda linha de inputs -->
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="sellingPrice" class="form-label">Preço de Venda:</label>
                      <input type="number" id="sellingPrice" formControlName="sellingPrice" step="0.01" class="form-control" required>
                    </div>
                    <label for="unspsc">CODE UNSPSC</label>
                    <input type="text" id="unspsc" formControlName="unspsc" class="form-control">



                  </div>
                  <br>
                  <br>

          </div>
        </div>


      </div>

  </form>
  <div class="container mt-5">
    <div class="row mt-5">
      <h1>Estoque disponível para Venda</h1>
      <!-- Usamos o ngFor para criar um card para cada estoque -->
      <div class="col-md-3 mb-4" *ngFor="let estoque of estoques; let i = index">
        <div class="card">
          <h2>{{estoque.sala}}</h2>
          <h3>Estoque #{{estoque.idEstoque}}</h3>
          <div class="card-body">
            <!-- Toggle button styled as radio for exclusivity -->
            <label class="switch">
              <input type="radio" name="estoqueSelecionado" [value]="estoque.idEstoque"
                     [(ngModel)]="estoqueSelecionado"
                     (change)="atualizarPrioridadeDeEstoque(estoque)">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>




<!-- <div class="row mt-5">

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Segmento</h5>
          <p class="card-text"><strong>{{unspscCode.segmento.codigo  }}</strong> : {{unspscCode.segmento.descricao }}</p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Família</h5>
          <p class="card-text"><strong>{{unspscCode.familia.codigo  }}</strong> : {{unspscCode.familia.descricao }}</p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Classe</h5>
          <p class="card-text"><strong> {{unspscCode.classe.codigo  }}</strong> : {{unspscCode.classe.descricao }}</p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Mercadoria</h5>
          <p class="card-text"><strong>{{unspscCode.mercadoria.codigo  }}</strong> : {{unspscCode.mercadoria.descricao }}</p>
      </div>
  </div>
</div>

</div>

<div class="row mt-5">

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Total de vendas</h5>
          <p class="card-text"><strong>{{100}}</strong> Unidades</p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Unidade Comprada</h5>
          <p class="card-text"><strong>{{200}} Unidades</strong></p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Lucro Total</h5>
          <p class="card-text"><strong> R${{2000}},00 </strong> </p>
      </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Unidades Disponíveis</h5>
          <p class="card-text"><strong>{{50}}</strong> Unidades </p>
      </div>
  </div>
</div>

 -->


 </div>
