<navbar></navbar>
<sidebar></sidebar>

<div class="container-base" [style.padding]="containerPadding">
  <!-- Page Content -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Current Page
      </h2>
    </div>
    <button (click)="openModal()">Adicionar Produto</button>

    <div class="table-responsive">
      <table class="table-erp">
        <thead>
          <tr>
            <th>Código Do Produto</th>
            <th>Nome do Produto</th>
            <th>Status do Estoque</th>
            <th>Quantidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList.slice().reverse()">
            <td>{{ product.idProduto }}</td>
            <td>{{ product.produto?.nome }}</td><!-- Supondo que o campo 'produto' seja um nome ou descrição -->
            <td>{{ product.status }}</td>
            <td>{{ product.quantidade_Estoque }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'show-modal': showModal}">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="onCloseModal()">&times;</span>
      <h2>Select Product</h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <label for="productList">Choose a product:</label>
        <ng-select class="select-padrao"
             formControlName="products"
             [items]="products"
             bindLabel="nome"
             bindValue="idProduto"
             [multiple]="false"
             [clearable]="true">
        </ng-select>


        <button type="submit">Confirm</button>
        <button type="button" (click)="onCloseModal()">Cancel</button>
      </form>
    </div>
  </div>
</div>

