
<div class="container  mt-5">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Portal do Administrador</a></li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar Produto</li>
    </ol>
  </nav>
  <h1  >Cadastro de Produto</h1>
  <form [formGroup]="createProductForm" (submit)="submitForm($event)" class="form-product">

  <div class="form-content-edit row">
    <div class="col-md-4">
      <div class="col-md-12 mb-3" *ngIf="!preview; else previewImage">
        <label for="">Adicionar Imagem</label>
        <br>
        <button type="button" (click)="fileInput.click()" class="btn btn-primary">
          <img src="assets/icon/card-image.svg" alt="card image icon" width="25" height="25">
        </button>
        <input
          hidden
          #fileInput
          type="file"
          id="file"
          name="file"
          class="form-control"
          accept="image/*"
          required
          formControlName="file"
          (change)="handleFile($event)"
        >
        <div *ngIf="createProductForm.get('file').errors && (createProductForm.get('file').dirty || createProductForm.get('file').touched)">
          <small class="text-danger" *ngIf="createProductForm.get('file').errors?.['required']">
            O nome do produto é obrigatório.
          </small>
        </div>
      </div>



      <div class="image-part mb-4">
        <ng-template #previewImage>
            <div class="text-center image-preview">
                <app-product [url]="preview" title="Preview"></app-product>
            </div>
        </ng-template>
    </div>
    </div>




      <div class="col-md-8">
        <div class="form-part">

                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="productName" class="form-label">Nome do Produto:</label>
                   <input type="text" id="productName" formControlName="productName" class="form-control" required>
                  </div>

                  <div class="col-md-8 mb-3">
                    <label for="productDescription" class="form-label">Descrição:</label>
                    <textarea id="productDescription" formControlName="productDescription" class="form-control" required></textarea>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="purchasePrice" class="form-label">Preço de Compra:</label>
                    <input type="number" id="purchasePrice" formControlName="purchasePrice" step="0.01" class="form-control" required>
                 </div>
                </div>

                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="sellingPrice" class="form-label">Preço de Venda:</label>
                    <input type="number" id="sellingPrice" formControlName="sellingPrice" step="0.01" class="form-control" required>
                  </div>
                  <label>CODE UNSPSC</label>
                  <ng-select class="select-padrao"
                  formControlName="unspsc"
                  [items]="unspscCodes"
                  bindLabel="codigoSfcm"
                  bindValue="idUnspsc"
                  [multiple]="false"
                  [clearable]="true"
                  ></ng-select>

                </div>
                <br>
                <br>


        </div>

      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-outline-danger" routerLink="/admin/list-product">Voltar</button>
      </div>
      <div class="col-8">
        <button type="submit" class="btn btn-success"[disabled]="createProductForm.invalid">Salvar Produto</button>
      </div>


    </div>

</form>
</div>


