<navbar></navbar>
<sidebar></sidebar>


<div class="container-base">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Cadastro de Usuario no Portal Petz Colaboradores</h3>

    </div>
    <!-- Formulário -->

    <form [formGroup]="createUserForm">
      <label>Nome:</label>
      <input type="text" formControlName="user_nome">

      <label>Cpf</label>
      <input type="text" formControlName="user_cpf">


      <label>Email</label>
      <input type="text" formControlName="user_email">

      <label>Grupo de Usuário</label>
      <ng-select class="select-padrao"
                formControlName="user_group"
                [items]="listUserGroup"
                bindLabel="name"
                [multiple]="false"
                [clearable]="false">
      </ng-select>
      <br>
      <button type="submit" (click)="submitForm()">Enviar</button>
    </form>





  </div>
</div>
