<navbar></navbar>
<sidebar></sidebar>


<div class="container-base">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Cadastro de Usuario no Portal Petz Colaboradores</h3>

    </div>
    <!-- Formulário -->

    <form [formGroup]="createUserForm" class="modern-form">

      <!-- Nome Field -->
      <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="user_nome">
      </mat-form-field>

      <!-- Email Field -->
      <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="user_email">
      </mat-form-field>

      <!-- Senha Field -->
      <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="user_senha">
      </mat-form-field>

      <!-- Grupo de Usuário Field -->
      <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Grupo de Usuário</mat-label>
          <mat-select formControlName="user_group">
              <mat-option *ngFor="let group of listUserGroup" [value]="group.name">
                  {{ group.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <!-- Submit Button -->
      <div class="button-wrapper">
          <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Enviar</button>
      </div>
  </form>


  </div>
</div>
