  <!-- The Modal -->
  <div class="modal" [ngClass]="{'show-modal': showModal}">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="onCloseModal()">&times;</span>
        <h2>{{ getModalTitle(modalType) }}</h2>
      </div>
      <div class="modal-body">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <label for="segmentName">{{ getModalFieldName(modalType) }}</label>
          <input class="form-control" type="number" id="segmentName" [(ngModel)]="segmentName" name="segmentName" [placeholder]="getModalFieldName(modalType) + ' Ex: 10'" required>

          <label for="segmentDesc">{{ getModalFieldName(modalType) }} Description</label>
          <textarea id="segmentDesc" [(ngModel)]="segmentDescription" name="segmentDesc" placeholder="{{ getModalFieldName(modalType) }} description..." required></textarea>

          <button type="submit">Save</button>
          <button type="button" (click)="onCloseModal()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
