<!-- The Modal -->
<div class="modal" [ngClass]="{'show-modal': showModal}">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="onCloseModal()">&times;</span>
      <h2>Add New Segment</h2>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <label for="segmentName">Segment Name</label>
        <input type="text" id="segmentName" [(ngModel)]="segmentName" name="segmentName" placeholder="Segment name..." required>

        <label for="segmentDesc">Segment Description</label>
        <textarea id="segmentDesc" [(ngModel)]="segmentDescription" name="segmentDesc" placeholder="Segment description..." required></textarea>

        <button type="submit">Save</button>
        <button type="button" (click)="onCloseModal()">Cancel</button>
      </form>
    </div>
  </div>
</div>
