<navbar></navbar>
<sidebar></sidebar>

<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
      <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
        <a href="/admin">Mural Admin</a>
       </h2>
    </div>

    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Cadastro de Usuário no Portal Petz</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode adicionar cliente, secretária e veterinário com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/admin/create-user">Cadastro de Usuário</a></li>

        <li><a routerLink="/admin/list-user">Painel de Usuários Cadastrados</a></li>


      </ul>
    </div>



        <!-- Cabeçalho do cartão CODE UNSPSC -->
        <div class="card-header">
          <!-- Título do cartão -->
          <h3 class="card-title">Gerenciamento de Estoque</h3>
          <!-- Descrição do cartão -->
          <p class="card-description">Aqui você pode adicionar ESTOQUE com facilidade e praticidade.</p>
          <!-- Lista de links -->
          <ul class="card-links">
            <li><a routerLink="/admin/create-estoque">Adicionar ESTOQUE</a></li>
          </ul>
        </div>
     <!-- Cabeçalho do cartão PRODUTO -->
     <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Gerenciamento de produto</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode adicionar produto com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/admin/create-product">Adicionar Produto</a></li>

        <li><a routerLink="/admin/list-product">Consultar Produto</a></li>


      </ul>
    </div>

     <!-- Cabeçalho do cartão CODE UNSPSC -->
     <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Gerenciamento de codigo UNSPSC</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode adicionar CÓDIGO UNSPSC com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/admin/create-unspsc">Adicionar UNSPSC</a></li>

        <li><a routerLink="/admin/list-unspsc">Consultar UNSPSC</a></li>
        <li><a routerLink="/admin/treeview-unspsc">Consultar UNSPSC tree view</a></li>


      </ul>
    </div>


     <!-- Cabeçalho do cartão VENDA-->
     <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Gerenciamento de Venda</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode INICIA E GERENCIA VENDA com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/admin/panel-pdv">INICIAR UMA VENDA</a></li>
        <li><a routerLink="/admin/salesMade">VENDAS REALIZADAS</a></li>
      </ul>
    </div>
  </div>
</div>




