<div class="table-responsive">
  <table class="table-erp">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <td>{{ user.iD_Usuario }}</td>
        <td>{{ user.nome }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a href="#" (click)="editUser(user)">Editar</a> |
          <a href="#" (click)="viewUser(user)">Visualizar</a> |
          <a href="#" (click)="deleteUser(user.iD_Usuario)">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
