<navbar></navbar>
<sidebar></sidebar>


<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">TIMELINE DE PEDIDO DE COMPRA DE PRODUTO</h3>

    </div>
    <div class="container">
      <ngx-timeline [events]="events" style="color: black;"></ngx-timeline>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary" (click)="openEstoqueModal()">Confirmar Entrega</button>

      </div>
    </div>








  </div>
</div>
