<div class="container my-4">

  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="card-title">PEDIDO DE COMPRA #{{ this.buyId }}</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código Do Produto</th>
              <th>Código Do Estoque</th>
              <th>Quantidade</th>
              <th>Check</th>

            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let product of productsList.slice().reverse()">
              <td>{{  product.idProduto   }}</td>
              <td>{{  product.idEstoque   }}</td>
              <td>{{  product.quantidadeTotal   }}</td>
              <td>
                <input type="checkbox" [checked]="selectedProducts[product.idProduto] === product.idEstoque"
                (change)="updateStock(product, $event)">


              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ngx-timeline [events]="events" class="my-4" style="color: black;"></ngx-timeline>

  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary" (click)="openEstoqueModal()">Confirmar Entrega</button>
  </div>

</div>
