<navbar></navbar>
<sidebar></sidebar>


<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <h2>
       <a href="/admin">Mural Admin</a>
      <span class="separator">»</span>
      Página Atual
      </h2>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">consultar UNSPSC por treeview</h3>

    </div>
    <!-- Formulário -->

   <!-- UNSPSC Tree inside an Expander -->
  <jqxExpander [width]="800" [height]="400" [showArrow]="false" [toggleMode]="'none'">

    <!-- Header for the Expander -->
    <div>
      UNSPSC
    </div>

    <!-- Content of the Expander which holds the tree -->
    <div style="overflow: hidden;">

      <!-- The tree component from jqxWidgets -->
      <jqxTree #treeReference
          [width]="'100%'"
          [height]="'100%'"
          [source]="treeSource">
      </jqxTree>

    </div>
  </jqxExpander>



  </div>
</div>
