
    <!-- Formulário -->

   <!-- UNSPSC Tree inside an Expander -->
  <jqxExpander [width]="1100" [height]="500" [showArrow]="false" [toggleMode]="'none'">

    <!-- Header for the Expander -->
    <div>
      UNSPSC CADASTRADOS(SEGMENTO >> FAMÍLIA >> CLASSE  >> MERCADORIA)
    </div>

    <!-- Content of the Expander which holds the tree -->
    <div style="overflow: hidden;">

      <!-- The tree component from jqxWidgets -->
      <jqxTree #treeReference
          [width]="'100%'"
          [height]="'100%'"
          [source]="treeSource">
      </jqxTree>

    </div>
  </jqxExpander>

