<navbar></navbar>
<sidebar></sidebar>

<div class="container-base" [style.padding]="containerPadding">
    <div class="content-page-edit">
        <div class="breadcrumbs">
            <h2>
                <a href="/admin">Mural Admin</a>
                <span class="separator">»</span>
                Página Atual
            </h2>
        </div>
        <div class="card-header">
            <h3 class="card-title">Cadastro de Estoque</h3>
        </div>


        <form [formGroup]="createEstoqueForm" (submit)="submitForm($event)">

          <div class="form-content-edit row">
            <div class="col-md-4">

              <!-- Parte do formulário -->
              <div class="col-md-8">
                <div class="form-part">

                        <!-- Primeira linha de inputs -->
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <label for="productName" class="form-label">Sala:</label>
                           <input type="text" id="productName" formControlName="sala" class="form-control" required>
                          </div>

                          <div class="col-md-8 mb-3">
                            <label for="productDescription" class="form-label">Prateleira:</label>
                            <textarea id="productDescription" formControlName="prateleira" class="form-control" required></textarea>
                          </div>


                        </div>


                </div>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary" [disabled]="createEstoqueForm.invalid">Salvar Estoque</button>

                </div>
              </div>


            </div>

        </form>

    </div>

</div>

