<navbar></navbar>
<sidebar></sidebar>


<div class="container-base">
  <!-- Conteúdo da página -->
  <div class="content-page">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <a href="/secretaria">Mural</a>
      <span class="separator">»</span>
      Página Atual
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Buscar Consulta</h3>

    </div>
    <form [formGroup]="consultaForm" (ngSubmit)="searchConsultas()">

      <!-- Campo de nome do cliente -->
      <label>Nome do Cliente:</label>
      <ng-select class="select-padrao"
                formControlName="cliente"
                [items]="listClientes"
                bindLabel="name"
                [multiple]="false"
                [clearable]="false"
                [searchable]="true"
                (search)="onSearchCli($event.term)">
      </ng-select>

      <label>Veterinário</label>
      <ng-select class="select-padrao"
                formControlName="veterinario"
                [items]="listVeterinarios"
                bindLabel="name"
                [multiple]="false"
                [clearable]="false"
                [searchable]="true"
                (search)="onSearchVet($event.term)">
      </ng-select>

      <label>Animal</label>
      <ng-select class="select-padrao" formControlName="animal" [items]="listAnimals" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="true" (search)="onSearchAni($event.term)"></ng-select>


      <!-- Campo de data da consulta -->
      <label>Data da Consulta:</label>
      <input type="date" formControlName="dataConsulta">

      <!-- Botão de busca -->
      <button type="submit">Buscar</button>

  </form>


  <h3 class="card-title" style="color: #000000;">Lista de Consultas</h3>
  <p class="card-description" style="color: #000000;">Aqui estão as consultas registradas:</p>
<div class="table-responsive">
  <!-- Tabela de consultas -->
  <table class="table-erp">
    <thead>
        <tr>
            <th>ID Consulta</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Veterinário</th>
            <th>Animal</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas">
        <td>{{consulta.idConsulta}}</td>
        <td>{{consulta.data | date:'yyyy-MM-dd'}}</td>
        <td>{{consulta.cliente}}</td>
        <td>{{consulta.veterinario}}</td>
        <td>{{consulta.animal}}</td>
    </tr>
    </tbody>
</table>
</div>
<!-- Controles de Paginação -->
<div class="pagination-container">
  <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage <= 0">Anterior</button>
  <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Próxima</button>
</div>

  </div>
</div>
