<div class="table-responsive">
  <table class="table-erp">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>CPF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of usersList">
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.cpf }}</td>
        <td>
          <a href="#" (click)="editUser(user)">Editar</a> |
          <a href="#" (click)="viewUser(user)">Visualizar</a> |
          <button type="button" class="btn btn-warning" (click)="deleteUser(user.id)" >Excluir</button>

        </td>
      </tr> -->
    </tbody>
  </table>
</div>
