<div class="table-responsive">
  <table class="table-erp">
    <thead>
      <tr>
        <th>ID</th>
        <th>CLIENTE</th>
        <th>ANIMAL</th>
        <th>DATA</th>
        <th>HORA INÍCIO</th>
        <th>HORA FIM</th>
        <th>STATUS</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterando através da lista mockada -->
      <tr *ngFor="let consulta of consultList">
        <td>{{ consulta.id }}</td>
        <td>{{ consulta.cliente }}</td>
        <td>{{ consulta.animal }}</td>
        <td>{{ consulta.data }}</td>
        <td>{{ consulta.horaInicio }}</td>
        <td>{{ consulta.horaFim }}</td>
        <td>{{ consulta.status }}</td>
        <td>
          <!-- Aqui você pode adicionar botões para ações como editar, excluir, etc. -->
          <button>Editar</button>
          <button>Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
