<navbar></navbar>
<sidebar></sidebar>

<div class="container-base" [style.padding]="containerPadding">
  <!-- Conteúdo da página -->
  <div class="content-page">
      <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <a href="/secretaria">Página Atual</a>
    </div>
    <!-- Cabeçalho do cartão -->
    <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Marcar Consulta</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode agendar suas consultas com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/secretaria/create-consult">Agendar Consulta</a></li>

        <li><a routerLink="/secretaria/search">Buscar Consulta </a></li>

      </ul>
    </div>

     <!-- Cabeçalho do cartão -->
     <div class="card-header">
      <!-- Título do cartão -->
      <h3 class="card-title">Cadastro de Usuário no Portal Petz</h3>
      <!-- Descrição do cartão -->
      <p class="card-description">Aqui você pode adicionar cliente com facilidade e praticidade.</p>
      <!-- Lista de links -->
      <ul class="card-links">
        <li><a routerLink="/secretaria/create-user">Cadastro de Usuário</a></li>

        <li><a routerLink="/secretaria/list-user">Painel de Usuários Cadastrados</a></li>


      </ul>
    </div>

  </div>
</div>
